.about-background {
  background-color: #FCE3C9;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  left: 0%;
  overflow: auto;
  display: block;
}

.profile-box {
  float: right;
  width: 25vw;
  background-color: white;
}

.boxed {
  width: 90vw;
  height: 80vh;
  background-color: white;
  border-radius: .5%;
  border: 2px solid #FCD1A4;
  padding: 2.5%;
  box-shadow: 15px -15px 0px 0px #FCD1A4;
  left: 0%;
  margin: 2.5%;
}

.about-shadow {
  position: relative;
  width: 15vw;
  height: 5px;
  background-color: #FCE3C9;
}
