.contact-background {
  background-color: #FCE3C9;
  position: relative;
  width: 100vw;
  height: 12.5vh;
  margin: 0%;
  left: 0%;
  overflow: auto;
  display: block;
}

.contact-text {
  align: center;
  background-color: #FCE3C9;
  font-size: 125%;
  position: relative;
  width: 65vw;
  height: 10vh;
  margin-top: 2.5vh;
  margin-right: 20px;
  display: block;
  margin-left: auto;
}

img {
  align: right;
}
