.link-animation {
  position: relative;
  color: white;
  text-decoration: none;
}

.link-animation:hover {
  color: #DEE2E5;
}

.link-animation::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 1px;
  background: #DEE2E5;
  transition: all 0.4s ease all 0s;
}

.link-animation:hover::after {
  width: 100%;
  transition: 0.4s ease all;
}
