.project-background {
  background-color: #ACC8E5;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0%;
  left: 0%;
  overflow: auto;
  display: block;
}

.project-box {
  display: absolute;
  border-radius: .5%;
  font-size: 100%;
  width: 90vw;
  height: 85vh;
  background-color: white;
  padding: 2.5%;
  padding-top: 1%;
  left: 0%;
  margin: 2.5%;
  margin-bottom: 0%;
}

.project-pictures {
  float: right;
  width: 25vw;
  height: 20vh;
  background-color: white;
  margin-right: 7.5%;
}

.project-shadow {
  position: relative;
  width: 15vw;
  height: 5px;
  background-color: #ACC8E5;
}

.project-titles {
  font-size: 150%;
}

.project-text {
  background-color: white;
  border-radius: .5%;
  width: 85vw;
  height: 65vh;
  border: 1px solid #84A8CC;
  padding: 2.5%;
  margin-top: 2.5%;
}
